/* From Uiverse.io by opMorn */
.button {
  position: relative;
  padding: 12px 35px;
  /* background: #fcd34d; */
  font-size: 1.5em !important;
  font-weight: 700 !important;
  letter-spacing: 2px !important;
  color: #1e293b;
  border: 3px solid #fcd34d;
  border-radius: 8px;
  padding: 10px 15px !important;
  box-shadow: 0 0 0 #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  right: 20% !important;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fcd34d);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 0%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fcd34d);
  z-index: -5;
  transition: all 1scubic-bezier(0, 0.4, 0, 1.01) !important;
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fcd34d);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fcd34d);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fcd34d);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fcd34d);
  z-index: -5;
  transition: all 0.8s ease;
}

.button:hover {
  background: transparent;
  color: #fbbf24;
  box-shadow: 0 0 0px #fcd34d;
}

.button:hover .star-1 {
  position: absolute;
  top: -80%;
  right: 10% !important;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0px #fcd34d);
  z-index: 2;
}

.button:hover .star-2 {
  position: absolute;
  top: -10%;
  left: -25% !important;
  width: 20px;
  height: auto;
  filter: drop-shadow(0 0 0px #fcd34d);
  z-index: 2;
}

.button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0px #fcd34d);
  z-index: 2;
}

.button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0px #fcd34d);
  z-index: 2;
}

.button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0px #fcd34d);
  z-index: 2;
}

.button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0px #fcd34d);
  z-index: 2;
}

.fil0 {
  fill: #fcd34d;
}