.slideC {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 590px;
  height: 379px;
  margin: 0 auto;
}

.slide {
  /* height: 339px; */
  /* transition: transform 500ms ease 0s, opacity 500ms ease 0s, */
    /* visibility 500ms ease 0s; */
  /* position: absolute; */
  border-radius: 24px;
}
